doctype html
html
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.css")
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="/static/styles.css")
    script(defer, src="/static/main.js")
    //- script(defer, src="https://code.iconify.design/1/1.0.7/iconify.min.js")
  body
    include ../partials/header
    main
      block content
    include ../partials/footer