extends layouts/main

block content
  .form-container
    form(action=`/users/${routes.editProfile}`, method="POST", enctype="multipart/form-data")
      .fileUpload
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
      input(type="text", placeholder="Name", name="name", value=loggedUser.name)
      input(type="text", placeholder="Email", name="email", value=loggedUser.email)
      input(type="submit" value="Update Profile")

    a.form-container__link(href=`/users${routes.changePassword}`)
      button Change Password
      //- form의 action 속성에서는 라우터에 따라 경로를 잡는 반면 a의 href는 경로를 전부 적어야하는 듯.