//- 레이아웃 가져오기
extends layouts/main
//- include mixin function
include mixins/videoBlock

block content
  .home-videos
    each video in videos
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })
      +videoBlock({
        id : video.id,
        title : video.title,
        views : video.views,
        videoFile : video.fileUrl,
      })