footer.footer
  .footer__icon
    i.fab.fa-youtube
  span.footer__text #{siteName} #{new Date().getFullYear()} &copy; 본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.
  br
  span.footer__text This page is intended for personal portfolio use and not for commercial purposes.