.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    .video__title_container{
      display: flex;
      justify-content: space-between;
    }
    button {
      width: 80px;
      // margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 600;
    }
    .video__views {
      margin-bottom: 30px;
      font-size: 14px;
    }
    .video__description {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 16px;
    }
    // hr {
    //   border: $dark-grey;
    // }
  }
  .video__comments {
    margin-top: 25px;
    // text-align: center;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      .input-text {
        width: 100%;
        height: 50px;
        max-width: 100%;
        border-radius: 0px;
        background-color: $grey;
        border-bottom: 1px solid grey;
        font-weight: 300;
      }
    }
    .video__comments-list {
      margin-top: 40px;
      li {
        // background-color: #3498db;
        color: black;
        // padding: 15px;
        // border-radius: 20px;
        // border-bottom-left-radius: 0px;
        &:not(:last-child) {
          margin-bottom: 35px;
        }
        .comment-author {
          font-weight: 600;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
}